/* styles.css */
.header-section {
    background-image: url('https://theuniversityunion.com/uploads/images/ce_image_cache/uploads/images/header-images/_framed/infodesk06-6240-4160_720_480_s.png'); /* Replace with the path to your image */
    background-size: cover; /* Adjust background size as needed */
    background-position: center center; /* Center the background image */
    color: white; /* Text color */
    padding: 16px; /* Adjust padding as needed */
    text-align: center; /* Center text horizontally */

  }
  