* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  /* Add this to your CSS file */
  .slide-in {
    left: 0;
    transition: left 0.5s;
  }

  /* Initial position off the screen to the right */
  .slide-out {
    left: -100vw;
    transition: left 0.5s;
  }
}
