/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    background: rgb(235,203,247);
    background: linear-gradient(135deg, rgba(235,203,247,1) 0%, rgba(252,252,249,1) 27%);
    background-repeat: no-repeat;
    background-size: cover;
}
  




